<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a></li>
                <li><a [routerLink]="['/']" [routerLinkActive]="['active']">Acerca de</a></li>
                <li><a [routerLink]="['/']" [routerLinkActive]="['active']">Contacto</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/']" [routerLinkActive]="['active']" id="registerLink">Registrarse</a></li>
                <li><a [routerLink]="['/']" [routerLinkActive]="['active']" id="loginLink">Iniciar sesión</a></li>
            </ul>

        </div>
    </div>

</div>