<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:52578/">Inicio</a></li>
                <li><a href="http://localhost:52578/Home/About">Acerca de</a></li>
                <li><a href="http://localhost:52578/Home/Contact">Contacto</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:52578/Account/Register" id="registerLink">Registrarse</a></li>
                <li><a href="http://localhost:52578/Account/Login" id="loginLink">Iniciar sesión</a></li>
            </ul>

        </div>
    </div>

</div>